<div class="heading col-md-12">
    <h4>Branch/ATM Foot Fall Insights</h4>
</div>
<div class="container">
 
    <div class="left-panel col-md-4">
            <div class="card">
                <div class="card-title">Total Foot fall</div>
                <div class="value">72,000</div>
                <div class="arrow">&#8593; 25%</div>
              </div>
              <div class="card">
                <div class="card-title">Booth Queue Density Rate</div>
                <div class="value">5 person/min</div>
                <div class="arrow">&#8593; 5%</div>
              </div>
              <div class="card">
                <div class="card-title">New visitor</div>
                <div class="value">100</div>
                <div class="arrow">&#8593; 5%</div>
              </div>
              <div class="card">
                <div class="card-title">Repeat visitor</div>
                <div class="value">25</div>
                <div class="arrow">&#8593; 5%</div>
              </div>
              <div class="card">
                <div class="card-title">Service Point Utilization</div>
                <div class="value">15 mins/SP/Person</div>
                <div class="arrow">&#8595; 5%</div>
              </div>
    </div>

    <div class="right-panel col-md-8">
        <div class="card">
          <div class="card-header">
            </div>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>