<div class="surface-section p-1">
    <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between">
        <div class="flex align-items-start flex-column md:flex-row relative w-12">
            <div class="mt-3 lg:mt-0">
              <span class="text-500 font-medium text-3xl font-bold">Meeting with Abdul Shaik</span>
                <i class="pi pi-star text-2xl ml-4 text-yellow-500">
                </i>
                <div class="flex align-items-center flex-wrap text-sm">
                    <div class="mr-8 mt-3">
                        <span class="text-xl font-large text-700">March 25, 3024</span>
                    </div>
                    <div class="mr-8 mt-3">
                        <span class="text-lg font-large text-700">
                            <label>
                                Duration:
                            </label>
                            <span>
                                1hour 10mins
                            </span>
                        </span><br />
                    </div>
                </div>
            </div>
            <div class="mt-3 lg:mt-0 absolute right-0">
                <button pbutton="" pripple="" icon="pi pi-bookmark"
                    class="p-element p-ripple p-button-rounded mr-2 p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-bookmark" aria-hidden="true">
                    </span>
                    <span class="p-ink">
                    </span>
                </button>
                <button pbutton="" pripple="" icon="pi pi-heart"
                    class="p-element p-ripple p-button-rounded p-button-success mr-2 p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-heart" aria-hidden="true">
                    </span>
                    <span class="p-ink">
                    </span>
                </button>
                <button pbutton="" pripple="" icon="pi pi-list"
                    class="p-element p-ripple p-button-rounded p-button-help p-button p-component p-button-icon-only">
                    <span class="p-button-icon pi pi-list" aria-hidden="true">
                    </span>
                    <span class="p-ink">
                    </span>
                </button>
            </div>
        </div>
    </div>
</div>
