/* You can add global styles to this file, and also import other style files */
body{
    background-image:linear-gradient(45deg, aliceblue, whitesmoke);
    zoom: 0.8;
}


@media only screen and (min-width: 1900px) {
  body {
    zoom: 1;
  }
}
